body {
  background-color: rgba(128, 128, 128, 0.121);
}

header {
  background: #0073a1;
  height: 70px;
}

h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
}

.container li{
  margin-top: 25px;
}


.container h1 {
  border-bottom: 1px solid #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding-left: 40px;
  color: #555555;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

.container ul {
  margin-top: 30px;
}

.discription {
  color: #555555;
}

.container h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background-color: #fafafa;
  padding: 20px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  color: #000000;
  position: relative;
  z-index: 2;
}

.data {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #0073a1;
  padding-bottom: 28px;
}

.wrapper {

  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 28px 40px;
}

button {
  margin-top: 60px;
  padding: 19px 65px;
  background: #0073a1;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

h2.blue {
  color: #003471;
}
